:root {
  --main-white-color: #ffffff;
  --main-rose-color: #d41443;
  --secondary-rose-color: #ffa5ba;
  --main-black-color: #000000;
  --secondary-black-color: #907e82;
  --background-text-orange: #f0d1a5;
  --background-text-green: #c2e297;
  --titan-one-font-family: 'Titan One', cursive;
  --dm-sans-font-family: 'DM Sans', sans-serif;
}
