.products {
  &__title {
    font-family: var(--titan-one-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
